  <tr>
    <td>
      <table border="0">
        <tbody>
          <tr>
            <td class="ind">
              <img src="./assets/images/s.gif" height="1" width="{{depth*40}}"/>
            </td>
            <td valign="top">
              <center>
                <a id="comment.item_id" ng-click="upvote()">
                  <div title="upvote" class="votearrow"></div>
                </a>
              </center>
            </td>
            <td class="default">
              <div style="margin-top:2px; margin-bottom:-10px;">
                <span class="comhead">
                  <a href="user?id={{comment.by}}">{{comment.by}}  </a>
                  <a href="item?id={{comment.item_id}}">
                    <span am-time-ago="comment.created"></span>
                  </a>
                  <span class="par"></span>
                  <span class="deadmark"></span>
                  <span class="storyon"></span>
                </span>
              </div>
              <br/>
              <span class="comment">
                <span class="c00">{{comment.body}} <span>
              </span>
              <span>
                <div class="reply">
                  <p>
                    <font size="1">
                      <u>
                        <a href="reply?id={{comment.item_id}}">reply</a>
                      </u>
                    </font>
                  </p>
                </div>
              </span>
              </td>
          </tr>
          
        </tbody>
      </table>

    </td>
  </tr>



    