<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <link rel="stylesheet" href="app/app.css">
      <link rel="stylesheet" href="app/main/main.css">
      <link rel="stylesheet" href="app/reply/reply.css">
      <link rel="stylesheet" href="components/modal/modal.css">
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="alchemistNewsApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ui-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="bower_components/angular-moment/angular-moment.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-url-format/dist/angular-url-format.js"></script>
      <!-- endbower -->
    <!-- endbuild -->

        
        <!-- build:js(.tmp) app/app.js -->
        
        <script src="app/app.js"></script>
          <!-- injector:js -->
          <script src="app/ask/ask.js"></script>
          <script src="app/item/item.js"></script>
          <script src="app/jobs/jobs.js"></script>
          <script src="app/login/login.js"></script>
          <script src="app/main/main.controller.js"></script>
          <script src="app/main/main.js"></script>
          <script src="app/newest/newest.js"></script>
          <script src="app/reply/reply.controller.js"></script>
          <script src="app/reply/reply.js"></script>
          <script src="app/show/show.js"></script>
          <script src="app/submit/submit.js"></script>
          <script src="app/user/user.controller.js"></script>
          <script src="app/user/user.js"></script>
          <script src="components/modal/modal.service.js"></script>
          <script src="components/navbar/navbar.controller.js"></script>
          <!-- endinjector -->
        <!-- endbuild -->
        <script type="text/ng-template" id="comment-tree">
          <tr>
            <td>
              <table border="0">
                <tbody>
                  <tr>
                    <td class="ind">
                      <img src="s.gif" height="1" width="{{depth*40}}"/>
                    </td>
                    <td valign="top">
                      <center>
                        <a id="comment.item_id" ng-click="upvote()">
                          <div title="upvote" class="votearrow"></div>
                        </a>
                      </center>
                    </td>
                    <td class="default">
                      <div style="margin-top:2px; margin-bottom:-10px;">
                        <span class="comhead">
                          <a href="user?id={{comment.by}}">{{comment.by}}  </a>
                          <a href="item?id={{comment.item_id}}">
                            <span am-time-ago="comment.created"></span>
                          </a>
                          <span class="par"></span>
                          <span class="deadmark"></span>
                          <span class="storyon"></span>
                        </span>
                      </div>
                      <br/>
                      <span class="comment">
                        <span class="c00">{{comment.body}}<span>
                      </span>
                      <span>
                        <div class="reply">
                          <p>
                            <font size="1">
                              <u>
                                <a href="reply?id={{comment.item_id}}">reply</a>
                              </u>
                            </font>
                          </p>
                        </div>
                      </span>
                      </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr ng-include="'comment-tree.html'", ng-repeat-end="comment in comment.kids", class="athing"> 
          </tr>
        </script>
</body>
</html>
