extends ../../components/casing/casing.jade
block pagecontent
    td(ng-if='!item') No such item
    td
        table(border="0")
          tbody
            tr.athing
              td
                center
                  a(ng-style="{'visibility': (window.localStorage.upvoted.indexOf(item.item_id)==-1) ? 'visible':'hidden'}") 
                    img(ng-click='upvote(item.item_id)' src="./assets/images/grayarrow.gif" border="0" vspace="3" hspace="2")

              td(class="title")
                a(ng-href="{{item.url}}" rel="nofollow")
                  span(ng-if='item.item_type=="ASK"') Ask AN:  
                  span(ng-if='item.item_type=="SHOW"') Show AN:   
                  span(ng-if='item.item_type=="JOB"') {{item.company}} is hiring
                  | {{item.title}}  
                span(class="comhead" ng-hide='item.item_type=="ASK"') ({{item.url | url:'hostname'}})
            tr
              td(colspan="1")
              td(class="subtext")
                | {{item.xsirion}} xsirion
                |   by 
                a(ng-href="user?id={{item.by}}") {{item.by}}    
                span(am-time-ago='item.created')
                |  |   
                a(href="item?id={{item.item_id}}") discuss
            tr(style="height:10px")
            tr
                td(colspan="1")
                    td
                        form(ng-submit='addComment()')
                            input(ng-model='new_comment.parent' name="parent" value="item.item_id" type="hidden")
                            input(name="goto" value="item?id=10234287" type="hidden")
                            input(name="hmac" value="90452900d5b179bbbf425c507f0f0fb4aa3a40fa" type="hidden")
                            textarea(ng-model='new_comment.body' name="text" rows="6" cols="60")
                            br
                            br
                            input(value="add comment" type="submit")
        table(border="0")
            tbody
                comment(comments='comments' ng-repeat='comment in comments' comment='comment' depth=0)
