extends ../../components/casing/casing.jade
block pagecontent
  td
    table(border="0" cellpadding="0" cellspacing="0")
      tbody(ng-repeat='item in items')
        include ../../components/item.jade
      tr(class="morespace" style="height:10px")
        tr
          td(colspan="2")
          
          td(class="title")
            a(href="ask?page={{page}}" rel="nofollow") More
        