extends ../../components/casing/casing.jade
block pagecontent
  tr
    td
      table(border="0" cellpadding="0" cellspacing="0")
        tbody#items(ng-repeat='item in items')
          include ../../components/item.jade
        tr(class="spacer" style="height:5px")
        tr(class="morespace" style="height:10px")
        tr
          td(colspan="2")
          
          td(class="title")
            a(href="/news?page={{page}}" rel="nofollow") More


