extends ../../components/casing/casing.jade
block pagecontent
    tr
        td
          table(border="0" cellpadding="0" cellspacing="0")
            tbody
                tr(class="athing")
                    td(align="right" valign="top" class="title")
                      span(class="rank") 1.
                    td
                      center
                        a(id="up_10143143" onclick="return vote(this)" href="vote?for=10143143&amp;dir=up&amp;auth=c1904497694073e9b6fde8946f2f1c0f78c771f6&amp;goto=news")
                          div(class="votearrow" title="upvote")
                    td(class="title")
                      span(class="deadmark")
                      a(href="http://www.mitchchn.me/2014/os-x-terminal/?x") Bitcoin is Forking!
                      |  
                      span(class="sitebit comhead") (mitchchn.me)
                tr
                    td(colspan="2")
                    td(class="subtext")
                      span(class="score" id="score_10143143") 146 points
                      | 
                      | by 
                      a(href="user?id=AlexeyBrin") AlexeyBrin
                      | 
                      a(href="item?id=10143143") 3 hours ago
                      |          | 
                      a(href="flag?id=10143143&amp;auth=c1904497694073e9b6fde8946f2f1c0f78c771f6&amp;goto=news") flag
                      |         | 
                      a(href="item?id=10143143") 43 comments                              
                tr(class="spacer" style="height:5px")