td
    table(border="0")
        tbody
            tr
                td.ind
                    img(src="s.gif" height="1" width= depth*40)
                
                td(valign="top")
                    center
                        a(id="comment.item_id" ng-click="upvote()")
                            div.votearrow(title="upvote")
                
                td.default
                    div(style="margin-top:2px; margin-bottom:-10px;")
                        span.comhead
                            a(href="user?id={{comment.by}}") {{comment.by}}  
                            a(href="item?id={{comment.item_id}}") 
                                span(am-time-ago='comment.created')
                            span.par
                            span.deadmark
                            span.storyon
                    br
                    span.comment
                        span.c00 {{comment.body}}
                                span
                            div.reply
                                p
                                    font(size="1")
                                        u
                                            a(href="reply?id={{comment.item_id}}") reply