//item.jade
tr(id="{{item.item_id}}")
  td(align="right" valign="top" class="title") {{$index +1}}.
  td
    center
      a(ng-style="{'visibility': (window.localStorage.upvoted.indexOf(item.item_id)==-1)?'visible':'hidden'}") 
        img(ng-click='upvote(item.item_id)' src="./assets/images/grayarrow.gif" border="0" vspace="3" hspace="2")
      

  td(class="title")
    a(ng-href="{{item.url}}" rel="nofollow")
      span(ng-if='item.item_type=="ASK"') Ask AN:  
      span(ng-if='item.item_type=="SHOW"') Show AN:   
      span(ng-if='item.item_type=="JOB"') {{item.company}} is hiring
      | {{item.title}}  
    span(class="comhead" ng-hide='item.item_type=="ASK"') ({{item.url | url:'hostname'}})
tr
  td(colspan="2")
  td(class="subtext")
    | {{item.xsirion}} xsirion
    |   by 
    a(ng-href="user?id={{item.by}}") {{item.by}}    
    span(am-time-ago='item.created')
    |  |   
    a(href="item?id={{item.item_id}}") discuss
tr(style="height:5px")
