extends ../../components/casing/casing.jade
block pagecontent
    td(ng-if='!item') No such item
    td
        table(border="0")
          tbody
            tr.athing
                td(valign="top")
                    center
                        a(id="up_10279536" onclick="return vote(this)" href="vote?for=10279536&amp;dir=up&amp;auth=252a7e873cc9eb14fcc4547ed953e6294ba84460&amp;goto=reply%3Fgoto%3Ditem%3Fid%3D10277201%26id%3D10279536")
                            div.votearrow(title="upvote")
                
                td.default
                    div(style="margin-top:2px; margin-bottom:-10px;")
                        span.comhead
                            a(href="user?id={{item.by}}") {{item.by}}  
                            span(am-time-ago='item.created')

                            span.par
                                |  | 
                                a(href="item?id={{item.parent}}") parent
                            span.deadmark
                            span.storyon
                        
                    
                    br
                    span.comment
                        span.c00 {{item.body}}
                            div.reply

            tr(style="height:10px")
            tr
                td(colspan="1")
                    td
                        form(ng-submit='addComment()')
                            input(ng-model='new_comment.parent' name="parent" value="item.item_id" type="hidden")
                            input(name="goto" value="item?id=10234287" type="hidden")
                            input(name="hmac" value="90452900d5b179bbbf425c507f0f0fb4aa3a40fa" type="hidden")
                            textarea(ng-model='new_comment.body' name="text" rows="6" cols="60")
                            br
                            br
                            input(value="add comment" type="submit")