center
  table(border="0", cellpadding="0", cellspacing="0", width="85%", bgcolor="#f6f6ef")
    tbody
      tr
        td(bgcolor="#ffc200")
          table(border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px")
            tbody
              tr
                td(style='width:18px;padding-right:4px')
                  a(href="http://inbitbox.com")
                    img(src="./assets/images/squaredcircle.svg" width='20px' style='margin:5%')
                td(style="line-height:12pt; height:10px;")
                  span(class="pagetop")
                    b
                      a(href="news") Alchemist News
                    img(src='./assets/images/s.gif' height="1" width="10")
                    a(href="/newest") new  |  
                    a(href="/show")  show  |  
                    a(href="/ask")  ask  |   
                    a(href="/jobs")  jobs  |   
                    a(href="/submit")  submit

                td(style="text-align:right;padding-right:4px;")
                  span(ng-if='window.loggedIn==true', class="pagetop")
                    a(href='/user') {{window.localStorage.user}} (100)
                    |  |  
                    a(href='/logout' ng-click='$root.logout()') logout
                  span(ng-if='window.loggedIn!=true', class="pagetop")
                    a(href="/login") login      
                    
      tr(style="height:10px")
      block pagecontent
      tr
        td
          img(src="./assets/images/s.gif" height="10" width="0")
          table(width="100%" cellspacing="0" cellpadding="1")
            tbody
              tr
                td(bgcolor="#ffc200")
          br
          center An Homage to Hacker News
          br
          center
            a(href="http://www.inbitbox.com") Made with love by BitBox
          br
          center
            span(class="yclinks")
              a(href="newsguidelines.html") Guidelines
              |   |  
              a(href="newsfaq.html") FAQ
              |   |  
              a(href="" target="") Support
              |   |  
              a(href="") API