extends ../../components/casing/casing.jade
block pagecontent
    td
        form(ng-submit='submit()')
            input(type="hidden" name="fnid" value="CvMQsyGenwYwPqPKu0g0d3")
            input(type='hidden' name="fnop" value="submit-page")
            table(border="0")
                tbody
                    tr
                        td title
                        td 
                            input(ng-model='item.title' type="text" name="title" value="" size="50")
                            |      
                            select(ng-model='item.type', ng-options='value for value in item_types')
                    tr(ng-if='item.type=="Job"')
                        td company
                        td 
                            input(ng-model='item.company', type='text', value='', size='50')
                    tr
                        td url
                        td
                            input(ng-model='item.url', type="url" name="url" value="" size="50")
                    tr
                        td
                        td
                            b or
                    tr
                        td text
                        td
                            textarea(ng-model='item.text' name="text" rows="4" cols="49")
                    tr
                        td
                        td
                    tr
                        td
                        td
                            input(type="submit" value="submit")
                    tr(style="height:20px")
                    tr
                        td
                        td
                            | Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.
                            br
                            br
