extends ../../components/casing/casing.jade
block pagecontent
  td
    table(border="0" cellpadding="0" cellspacing="0")#items
      tbody(ng-repeat='item in items')
        include ../../components/item.jade
      tr(style="height:10px")
      tr
        td(colspan="2")
        td(class="title")
          a(href="/x?fnid=t54zqXZ3lw" rel="nofollow") More
    tr
      td
        
        table(width="100%" cellspacing="0" cellpadding="1")
          tbody
            tr
              td(bgcolor="#FBB03B")
          br
        center

