extends ../../components/casing/casing.jade
block pagecontent
    td  
        form(ng-submit='login()')
            h2 Login
            | username   
            input(ng-model='user.username', type='text', name='username')
            br
            |password   
            input(ng-model='user.password', type='password', name='password')
            button(type='submit') login
        form(ng-submit='createUser()')
            h2 Create an Account
            | username   
            input(ng-model='newUser.username' type='text' name='username')
            br
            |password    
            input(ng-model='newUser.password' type='password' name='password')
            button Create Account